{% extends 'base.html' %}

{% block content %}

<header>
  <div class="header-content">
      <div class="header-content-inner">
        <h1 style="color:white">Search</h1>
        <hr><br>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <form method="get" action=".">
                    {{ form.q }}
                    <input type="submit" class="btn" value="Search">
            </div>
            <div class="col-md-4"></div>
        </div>
        {% if query %}
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
                  <h2 style="color:white">Results</h2>

                  {% for result in page.object_list %}
                      <p>
                          <a href="/example/?title={{ result.object.title }}">{{ result.object.title }}</a>
                      </p>
                  {% empty %}
                      <p>No results found.</p>
                  {% endfor %}

                  {% if page.has_previous or page.has_next %}
                      <div>
                          {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                          |
                          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                      </div>
                  {% endif %}
              {% else %}
                  {# Show some example queries to run, maybe query syntax, something else? #}
              {% endif %}
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
  </div>
</header>


{% endblock %}
