{% extends "base.html" %}
{% block content %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="color:white">Examplefy</h1>
                <hr>
                <p>Your Five-Minute Tutor</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>



    <section class="bg-primary" id="about">
        <div class="container text-center">
          <h3 class="section-heading">We will turn a question you need help with into a worked out example you can learn from.</h2>
          <hr class="light">
          <br>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">Ask our database</h2>
                    <hr class="light">
                    <p class="text-faded">Search for topics or concepts</p>

                    <form method="get" action="/#about">
                        {{ form.q }}
                        <input type="submit" value="Search" class="btn">
                        <input type="hidden" name="models" value="examplefy.example">
                    </form>
                </div>
                <div class="col-lg-6 text-center">
                  <h2 class="section-heading">Ask our tutors.</h2>
                  <hr class="light">
                  <p class="text-faded">Submit an example, and we'll take a crack at it.</p>
                  <form method="get" action="/ask">
                        <input type="submit" value="Ask" class="btn">
                  </form>
                </div>

            </div>
        </div>
    </section>

  {% if query %}
    <section class="bg-primary-2" id="results">
      <div class="container">
                    <h3>Results</h3>

                    {% for result in object_list %}
                        <p>
                            <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                        </p>
                    {% empty %}
                        <p>No results were found.</p>
                    {% endfor %}

                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
            </form>
      </div>
    </section>
  {% endif %}


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>We would love to hear from you.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>111-111-1111</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@examplefy.com</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
