{% extends "base.html" %}
{% block content %}
  <!-- pass context to JS as a global variable -->
  <script type="text/javascript">window.DATA = JSON.parse("{{ data.json }}".replace(/&quot;/g,"\""))</script>
    <header>
        <div class="header-content" id="ask_form">
            <div class="header-content-inner">
                <h1 style="color:white" id="header">Ask us a question</h1>
                <hr id="line">
                <div class="btn-group" id="topic_group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="topic_button">
                    Choose a Topic
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    {% for topic in data.topics %}
                      <li class="topic_list_element" id="{{ topic }}"><a>{{ topic }}</a></li>
                    {% endfor %}
                  </ul>
                </div> <!-- topic_group -->

                <br><br><br>

                <div class="btn-group" id="concept_group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="concept_button" style="display:none; opacity:0.0">Chose a Concept</button>
                 </div> <!-- concept_group -->

                <div id="text_div">
                  <br><br>
                  <input type="text" id="Title" placeholder="Title" class="form-control" style="display:none; opacity:0.0"></input>
                  <br>
                  <textarea id="example_question" rows="14" cols="86" style="display:none; opacity:0.0"></textarea>
                  <br><br>
                  <button type="button" class="btn btn-primary" id="Submit" style="display:none; opacity:0.0">Submit your question</button>
                </div> <!-- text div -->
            </div>
        </div>
        <div class="header-content" id="confirm_div">
          <form method="post" action="/add_example" id="confirm_form">{% csrf_token %}</form>
        </div>
      </header>

{% endblock %}
