{% extends "base.html" %}

{% block content %}



<header>
    <div class="header-content">
      <div class="header-content-inner">

          {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          {% if next %}
              {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
              {% else %}
              <p>Please login to see this page.</p>
              {% endif %}
          {% endif %}

          <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
          {% csrf_token %}
          <table>
          <tr>
              <p>{{ form.username.label_tag }}</p>
              <p>{{ form.username }}</p>
          </tr>
          <tr>
              <p>{{ form.password.label_tag }}</p>
              <p>{{ form.password }}</p>
          </tr>
          </table>

          <input type="submit" value="login" class="btn btn-primary btn-xl" />
          <input type="hidden" name="next" value="{{ next }}" />
          </form>

          <hr>

          {# Assumes you setup the password_reset view in your URLconf #}
          <p><a href="{% url 'password_reset' %}" class="btn btn-primary btn-xl">Lost password?</a></p>

        </div>
    </div>
</header> 



{% endblock %}
