{% extends "base.html" %}

{% block content %}



<header>
    <div class="header-content">
      <div class="header-content-inner">

          <form method="post" action="{% url 'password_reset_complete' %}">
          {% csrf_token %}
          <table>
          <tr>
              <p>Please enter a new password to be associated with your account.</p>

              <p>{{ form.new_password1.label }}</p>
              <p>{{ form.new_password1 }}</p>

              <p>{{ form.new_password2.label }}</p>
              <p>{{ form.new_password2 }}</p>

          </tr>
          </table>

          <input type="submit" value="Send Email" class="btn btn-primary btn-xl" />
          <input type="hidden" name="next" value="" />
          </form>
        </div>
    </div>
</header>



{% endblock %}
